<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="menu.css">
  <title>Центр юридичної допомоги постраждалим на Майдані</title>
 </head>
 <body id="bd">
	 <div class="top-panel">
	  		<a href="/" class="button_top">Головна</a>
	        <a href="/news" data-remote="true" class="button_top">Новини</a>
	        <a href="/about" data-remote="true" class="button_top">Про нас</a>
	        <a href="#" data-remote="true" class="button_top_left">Укр</a>
	        <a href="#" data-remote="true" class="button_top_left">Eng</a>
	        <input type="text" class="search_text" placeholder=" Пошук">
	 </div>
	 <div id="header">
		 <img src="lag.jpg" class="img-header" >
		 <h1 id="h1_text">Центр юридичної допомоги постраждалим на Майдані</h1>
	 </div>
	 <div id="body_div">
	 	<div id='cssmenu'>
			<ul>
			   <li class='active'><a href="index.html"><span>Наша робота</span></a></li>
			   <li class='has-sub'><a href='#'><span>Звіти</span></a>
			   <li><a href="/findus"><span>Як нас знайти?</span></a></li>
			   <li class='last'><a href="/helpus"><span>Допомогти проекту</span></a></li>
			</ul>	
		</div>
	 </div>
	 		<div id="first_info">
				<img src="office_photo.jpg" class="photo">
				<h2 style="margin-left: 50px;">Наша громадська діяльність <br> спрямована на допомогу<br>постраждалим на Майдані.</h2>
			</div>
			<div id="second_info">
				<img src="work_photo.jpg" class="photo">
				<h2>Ми працюємо з перших днів <br> і сподіваємося допомогти усім, <br>хто того потребує.</h2>
			</div>
			<div id="third_info">
				<img src="symbol_photo.jpeg" class="photo">
				<h2>Благоустрій України - <br> для нас є найважливішою<br>ціллю роботи. Звертайтеся!</h2>
			</div>
 </body>
</html>