<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Про нас</title>
 </head>
 <body>
	  <div class="top-panel">
	  		<a href="/" class="button_top">Головна</a>
	        <a href="/news" data-remote="true" class="button_top">Новини</a>
	        <a href="/about" data-remote="true" class="button_top">Про нас</a>
	        <a href="#" data-remote="true" class="button_top_left">Укр</a>
	        <a href="#" data-remote="true" class="button_top_left">Eng</a>
	        <input type="text" class="search_text" placeholder=" Пошук">
	 </div>
	 <div id="news_body" style="height: 650px">
	 <h1 align="center">Про нас</h1>
	 	<div class="post_div">
	 		<h2 style="margin-left: 20px">Ми - громандська організація</h2>
	 		<div class="post_body">
	 			<h3 style="margin-left: 20px"> Ми - громадська організація "Центр юридичної допомоги постражданим на Майдані, надаємо консультації, складаємо законоправильні заяви до правоохоронних та адміністративних органів і готові відгукнутися на ваше прохання завжди, включно з онлайн режимом роботи.</h3>
	 		</div>
	 		<img src="office_photo.jpg" class="helpus_photo">
	 	</div>
	 </div>
 </body>
</html>