<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Допомогти проекту</title>
 </head>
 <body>
	  <div class="top-panel">
	  		<a href="/" class="button_top">Головна</a>
	        <a href="/news" data-remote="true" class="button_top">Новини</a>
	        <a href="/about" data-remote="true" class="button_top">Про нас</a>
	        <a href="#" data-remote="true" class="button_top_left">Укр</a>
	        <a href="#" data-remote="true" class="button_top_left">Eng</a>
	        <input type="text" class="search_text" placeholder=" Пошук">
	 </div>
	 <div id="news_body" style="height: 650px">
	 <h1 align="center">Допомогти проекту</h1>
	 	<div class="post_div">
	 		<h2 style="margin-left: 20px"></h2>
	 		<div class="post_body">
	 			<h3 style="margin-left: 20px"> Проект потребує допомоги. Ми працюємо лише на ініціативі та бажанні
	 			допомогти постраждалим на Майдані, проте у нас є мета створити мережу таких центрів допомоги, для цього
	 			нам необхідні фінансові ресурси. Допомогти нам можна перерахувавши кошти на наші рахунки, які будуть викладені 
	 			протягом тижня, по проходженню поперації підтвердження.</h3>
				<img src="work_photo.jpg" class="helpus_photo">
	 		</div>

	 	</div>
	 </div>
 </body>
</html>